<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-6">
      <%= form_with(model: task, class: "shadow bg-white rounded p-3 mb-5") do |form| %>
      <%= render 'shared/errors', obj: task %>
        <div class="form-group mb-4">
          <%= form.label :name, class: "form-label" %>
          <%= form.text_field :name, class: "form-control shadow rounded text-black-50" %>
        </div>

        <div class="form-group mb-4">
          <%= form.label :description, class: "form-label" %>
          <%= form.text_area :description, class: "form-control shadow rounded text-black-50" %>
        </div>

        <div class="form-group mb-4">
          <%= form.label :due_date, class: "form-label" %>
          <%= form.datetime_field :due_date, class: "form-control shadow rounded text-black-50"%>
        </div>

        <div class="form-group mb-4">
          <%= form.label :status,  class: "form-label" %>
          <%= form.select :status, Task.statuses.keys.map{ |key| [key.humanize, key] }, selected: task.status, class: "form-control" %>
        </div>


        <div class="d-grid">
          <%= form.button "Submit", type: :submit, class: "btn btn-danger btn-block mb-4 btn-lg justify-content-center" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

