<h1 class="text-center mt-4"><%= @task.name %></h1>
<div class="row justify-content-center">
  <div class="col-8 mt-4">
    <div class="card text-center shadow mb-5 bg-white rounded">
      <div class="card-header">
        <span>Created by <%= @task.user.full_name.titleize if @task.user %></span>
      </div>
      <div class="card-body">
        <div class="card-text"><%= simple_format(@task.description) %></div>
        <p><%= @task.status %></p>
        <% if @task.assignments.size != 0  %>
          <p>Assigned to: <%= @task.assignments.first.user.email %></p>
        <% end %>
        <%= link_to "Edit", edit_task_path(@task), class: "btn btn-outline-warning" %>
        <%= link_to "Delete", task_path(@task), class: "btn btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
      </div>
      <div class="card-footer text-muted">
        <small>
          Created <%= time_ago_in_words(@task.created_at) %> ago,
          Due on <%= time_ago_in_words(@task.due_date) if @task.due_date %>
        </small>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <%= link_to "[Back to tasks]", tasks_path, class: "text-decoration-none" %>
</div>
